body{
    font-size: 15px;
    color: white;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    justify-content: center;
    align-content: center;
    padding: 10% 25% 0 25%;
}
#content{


    display: flex;
    line-height: 1.6;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    overflow: hidden;
}
.sedans{
    background-color: hsl(31, 77%, 52%);
}
.suvs{
    background-color: hsl(184, 100%, 22%);
}


.luxury{
    background-color: hsl(179, 100%, 13%);

}


.section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 60px 20px 60px 40px;
}
button{
    background-color:hsl(0, 0%, 95%);
    border-radius: 55px;
    height: 30px;
    border: white solid 2px;
    padding: 15px 40px 30px 40px;
    justify-content: center;
    font-size: 15px;
    font-weight: bolder;

}
.sedans button{
    color:hsl(31, 77%, 52%);
}
.suvs button{
    color:hsl(184, 100%, 22%);
}
.luxury button{
    color:hsl(179, 100%, 13%);
}
p{
    color:hsla(0, 0%, 100%, 0.75);
    margin: 0 0 100px 0;
    width: 90%;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}
svg{
    z-index: 1;
}
button:hover{
    cursor:pointer;
    background: transparent;
    color:hsla(0, 0%, 100%, 0.75);
}

@media (max-width: 1080px) {
    #content{
        flex-direction: column;
    }
}
